@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    background-color: rgb(39, 39, 39);
    display:flex;
    justify-content:center;
    margin:10% auto;
}
.Card{
    text-align:center;
    background-color:rgb(36, 35, 35);
    width:450px;
    height:600px;
    border-radius:15px;
    color:aliceblue;
    font-family:'Figtree';
}
.Kendrick{
    width: 60px;
    border-radius:50px;
    padding: none;
    margin-top: 30px;
}
.Kendrick:hover{
    transform:scale(1.5);
    transition:0.5s;
}
.Username{
    font-weight: bolder;
    font-size: 26px;
}
.Location{
    font-weight: bold;
    color:rgb(41, 41, 243);
    font-size: 26px;
    margin-top:0px;
}
.Title{
    font-size: 16px;
    margin-bottom:20px;
}
.Accounts{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:5px;
}

button{
    width:300px;
    height: 50px;
    border-radius:10px;
    color: aliceblue;
    background-color: transparent;
    border:none;
    font-size:20px;
    font-weight:15px;
    margin:0px;
    padding:0px;
}
button:hover{
    background-color: rgba(128, 126, 126, 0.3);
    height: 60px;
    transition:0.2s;
}